<div class="'col-md-4 mx-auto">
    <div class="card" style="width: 72rem;">
        <div class="'card-header">
            <h3>MENU ADMIN</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <br>
                <!--CONSULT-->
                <form action="/eliminarCliente" method="POST">
                    <select name="idCliente" class="form-control" id="ids_ProductType">
                        {{#each resultClientes}}
                        <option value={{carnet_persona}}>{{nombre_persona}} {{apellido1_persona}} {{apellido2_persona}} || {{carnet_persona}}</option>
                        {{/each}}
                    </select>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            ELIMINAR CLIENTE
                        </button>
                    </div>
                </form>
                <!--UPDATE-->
                <form action="/cargarModificarCliente" method="POST">
                    <select name="idCliente" class="form-control" id="ids_ProductType">
                        {{#each resultClientes}}
                        <option value={{carnet_persona}}>{{nombre_persona}} {{apellido1_persona}} {{apellido2_persona}} || {{carnet_persona}}</option>
                        {{/each}}
                    </select>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            MODIFICAR CLIENTE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>