<div class="'col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Comprar alimentos
        </div>
        <div class="card-body">
            <form action="/buscarAlimentos" method="POST">
                <h5>Filtar alimentos.</h5>
           
                    <select name="idTiempo" class="form-control" id="ids_ProductType">
                        <option value=0>NO FILTRAR POR TIEMPO</option>
                        {{#each resultTiempos}}
                        <option value={{id_tiempo_comida}}>{{nombre_tiempo_comida}}</option>
                        {{/each}}
                    </select><br>

                    <select name="idTipoAlimento" class="form-control" id="ids_ProductType">
                        <option value=0>NO FILTRAR POR TIPO</option>
                        {{#each result_tipos}}
                        <option value={{tipo}}>{{nombre}}</option>
                        {{/each}}
                    </select>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            BUSCAR
                        </button>
                    </div>
            </form>


         
        </div>
    </div>

    <div class="'col-md-4 mx-auto">
        <br>
        <h3>INFORMACIÓN DEL ALIMENTO</h3>
        <table class="table">
            <br>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre&nbsp;alimento</th>
                    <th>Disponible?</th>
                    <th>Tipo&nbsp;alimento</th>
                    <th>Tiempo</th>
                    <th>Precio&nbsp;en&nbsp;colones</th>
                    <th>Cantidad</th>
                </tr>
            </thead>

            <tbody id="productTable" class="collection with-header">

                {{#each result_alimentos}}
                <tr>
                    <td>{{id_alimento}}</td>
                    <td>{{nombre_alimento}}</td>
                    <td>{{disponibilidad_alimento}}</td>
                    <td>{{Tipo}}</td>
                    <td>{{nombre_tiempo_comida}}</td>
                    <td>{{precio_alimento}}</td>

                    <form action="/addProductToCart" method="POST"  >
                        <input type="hidden" name="alimentoId" value={{id_alimento}}>
                        <input type="hidden" name="alimentoNombre" value={{nombre_alimento}}>
                        <input type="hidden" name="alimentoTipo" value={{Tipo}}>
                        <input type="hidden" name="alimentoPrecio" value={{precio_alimento}}>

                        <td><input type="number"  min="0" name="cantidad" class="form-control"></td>
                        <td><button class="btn btn-primary" onclick="alert('Product added to cart.')">AGREGAR</button></td>
                    </form>
                    <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>

</div>