<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
            MODIFICAR ALIMENTO
            </div>
            <div class="card-body">
                <form action="/modificarAlimento" method="POST">
                    <input type="hidden" name="alimentoId" value={{resultAlimentoInfo.0.id_alimento}}>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre del alimento">
                    </div>
                    <select name="idTipoAlimento" class="form-control" id="ids_ProductType">
                        <option value=0>Dejar el mismo valor</option>
                        {{#each result_alimentos}}
                        <option value={{tipo}}>{{nombre}}</option>
                        {{/each}}
                    </select><br />
                    <h6>Este producto estará disponible inmediatamente sea creado?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="disponibleRadio" id="flexRadioDefault1"
                            value=2 checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            No modificar
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="disponibleRadio" id="flexRadioDefault1"
                            value=1>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="disponibleRadio" id="flexRadioDefault2"
                            value=0>
                        <label class="form-check-label" for="flexRadioDefault2">
                            No
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="number" min="0" name="precio" class="form-control"
                            onkeypress="return onlyNumberKey(event)" aria-describedby="basic-addon2"
                            placeholder="Precio en colones por porción del alimento">
                    </div>
                    <button type="submit" class="btn btn-primary">CREATE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="'col-md-4 mx-auto">
        <br>
        <h3>INFORMACIÓN ACTUAL DEL ALIMENTO</h3>
        <table class="table">
            <br>
            <thead>
                <tr>
                    <th>Nombre&nbsp;alimento</th>
                    <th>Disponible?</th>
                    <th>Tipo&nbsp;alimento</th>
                    <th>Precio&nbsp;en&nbsp;colones</th>
                </tr>
            </thead>

            <tbody id="productTable" class="collection with-header">

                {{#each resultAlimentoInfo}}
                <tr>
                    <td>{{nombre_alimento}}</td>
                    <td>{{disponibilidad_alimento}}</td>
                    <td>{{nombre_tipo_alimento}}</td>
                    <td>{{precio_alimento}}</td>
                </tr>
                {{/each}}

            </tbody>
    </div>
</div>

<script>
    function onlyNumberKey(evt) {
        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
</script>