<div class="'col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      Registrar cuenta
    </div>
    <div class="card-body">
      <form action="/users/signup" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="apellido1" placeholder="Primer apellido" value="{{apellido1}}"
            required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="apellido2" placeholder="Segundo apellido" value="{{email}}"
            required>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="carnet" pattern="/^[0-9]*$/" placeholder="Carnet estudiantil"
            value="{{carnet}}" required />
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="cedula" pattern="/^[0-9]*$/" placeholder="Cédula"
            value="{{cedula}}" required />
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="edad" pattern="/^[0-9]*$/" placeholder="Edad(En años)"
            value="{{edad}}" required />
        </div>
        <div class="form-group">
          <input type="date" class="form-control" name="fechanacimiento" min="1900-01-01" value="{{fechanacimiento}}"
            required />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" pattern="^[A-Za-z0-9._%+-]+@estudiantec\.cr$"
            placeholder="Correo electrónico (Debe de ser del dominio estudiantec.cr)" value="{{email}}" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" minlength="6" name="contrasena" placeholder="Password"
            value="{{contrasena}}" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" minlength="6" name="confirm_password"
            placeholder="Confirm Password" value="{{confirmar_contrasena}}" required>
        </div>
        <br>
        <button class="btn btn-primary btn-block">
          Registrarme
        </button>
      </form>
    </div>
  </div>
</div>